:scope {
    --card-title: #ab1ca8;
    --card-border: #de8ade;
}

.events-list>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
    grid-gap: 24px;
}

.events-list>ul>li {
    border: 1px solid var(--card-border);
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.events-list>ul>li:hover {
    transform: scale(1.05);
}

.events-list .event-content {
    margin: 16px;
}

.events-list .event-content a {
    color: var(--card-title);
}

.events-list .event-content p {
    margin: 0;
    font-size: 14px;
}

.events-list .event-content a:hover {
    text-decoration: none;
}

.events-list>ul>li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 10px;
}